html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.heroImage .heroText, body, #row3 #cardA .cardTop .coverVidText {
  text-align: center; }

.navbar ul {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.navbar ul {
  overflow: auto; }

.row {
  color: #fff;
  clear: both;
  overflow: auto;
  width: 100%; }
  .row .card {
    float: left; }
    .row .card p {
      margin-top: 0; }

#row2 {
  height: 30vh; }
  #row2 #cardA {
    height: 100%;
    width: 50%; }
  #row2 #cardB {
    height: 100%;
    width: 25%; }
  #row2 #cardC {
    height: 100%;
    width: 25%; }

#row3 {
  height: 30vh; }
  #row3 #cardA {
    height: 100%;
    width: 25%; }
    #row3 #cardA .cardTop {
      height: 50%; }
    #row3 #cardA .cardBottom {
      height: 50%; }
  #row3 #cardB {
    height: 100%;
    width: 25%; }
  #row3 #cardC {
    height: 100%;
    width: 50%; }
    #row3 #cardC .cardTop {
      height: 50%;
      padding: 2%; }
    #row3 #cardC .cardBottom {
      height: 50%;
      padding: 2%; }

#row4 {
  height: 30vh; }
  #row4 #cardA {
    height: 100%;
    width: 25%; }
  #row4 #cardB {
    height: 100%;
    width: 50%; }
  #row4 #cardC {
    height: 100%;
    width: 25%; }

.pageWrapper {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }
  .pageWrapper::after {
    clear: both;
    content: "";
    display: table; }

.footer {
  clear: both; }

.heroImage {
  overflow: hidden;
  background-color: #000;
  position: relative; }
  .heroImage .masthead-video {
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .heroImage .heroText {
    position: absolute;
    top: 1%;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-bottom: 50px;
    line-height: 1;
    margin: 14% auto; }
    .heroImage .heroText h2 {
      font-size: 40px;
      font-weight: normal;
      line-height: 0.4em;
      letter-spacing: 2px;
      color: #fff;
      text-shadow: 2px 2px 2px black; }
      .heroImage .heroText h2:nth-child(3) {
        padding-bottom: 1.5em; }

.navbar {
  margin-top: 0px;
  background-color: #fff; }
  .navbar ul {
    margin-top: 0px;
    padding-top: 40px;
    list-style: none;
    background: #fff;
    width: 60%; }
    .navbar ul li {
      display: inline;
      margin: 2%;
      color: #A9A9A9; }
    .navbar ul .title {
      font-size: 3em;
      font-weight: bold;
      letter-spacing: 2px;
      color: black; }
  .navbar #menuLink {
    position: relative;
    bottom: 50px;
    left: 43%;
    font-weight: bold;
    color: #13391d; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px; }

body {
  background: #F5F5F5;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif; }

a {
  text-decoration: none; }

.button {
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 2px 2px 2px black;
  text-shadow: 2px 2px 2px black;
  padding: 10px 40px;
  font-size: 1.2em;
  letter-spacing: 3.5px; }
  .button:hover {
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    background: #fff;
    color: #000;
    -webkit-transition: color .3s linear;
    -webkit-transition: background .3s linear; }

#row2 h3 {
  position: relative;
  top: 42%;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black; }
#row2 hr {
  position: relative;
  top: 42%;
  width: 60%;
  border: 0.15em solid #fff; }
#row2 #cardA {
  background-image: -webkit-linear-gradient(rgba(198, 32, 52, 0.45), rgba(198, 32, 52, 0.45)), url("../img/copernicus.jpg");
  background-image: linear-gradient(rgba(198, 32, 52, 0.45), rgba(198, 32, 52, 0.45)), url("../img/copernicus.jpg"); }
#row2 #cardB {
  background-image: -webkit-linear-gradient(rgba(116, 28, 88, 0.45), rgba(116, 28, 88, 0.45)), url("../img/moonWalk.gif");
  background-image: linear-gradient(rgba(116, 28, 88, 0.45), rgba(116, 28, 88, 0.45)), url("../img/moonWalk.gif");
  background-size: cover; }
#row2 #cardC {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url("../img/guide.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url("../img/guide.jpg");
  background-size: cover; }

#row3 #cardA .cardTop {
  overflow: hidden;
  padding: 0px !important;
  position: relative; }
  #row3 #cardA .cardTop .coverVidText {
    font-weight: normal;
    letter-spacing: 1.5px;
    position: absolute;
    top: 1%;
    bottom: 0;
    height: 120px;
    width: 100%;
    line-height: 1;
    margin: auto; }
    #row3 #cardA .cardTop .coverVidText h1 {
      font-size: 3em;
      margin: 0;
      padding-top: .2em;
      padding-bottom: .5em; }
  #row3 #cardA .cardTop .masthead-video {
    object-fit: cover;
    width: 100%;
    min-height: 200px; }
#row3 #cardA .cardBottom {
  background-image: -webkit-linear-gradient(rgba(37, 153, 150, 0.6), rgba(37, 153, 150, 0.6)), url("../img/spaceLogo.jpg");
  background-image: linear-gradient(rgba(37, 153, 150, 0.6), rgba(37, 153, 150, 0.6)), url("../img/spaceLogo.jpg");
  background-size: cover; }
  #row3 #cardA .cardBottom .cardBottomText {
    position: relative;
    top: 15%;
    bottom: 0;
    font-weight: normal;
    letter-spacing: 1.5px; }
    #row3 #cardA .cardBottom .cardBottomText h1 {
      font-size: 3em;
      margin: 0;
      padding-bottom: .3em; }
#row3 #cardB {
  color: black;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/rockets.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/rockets.jpg");
  background-size: cover; }
  #row3 #cardB p:first-child {
    position: relative;
    top: 7%;
    bottom: 0;
    font-weight: bold;
    letter-spacing: 1.5px; }
  #row3 #cardB p:nth-child(2) {
    position: relative;
    top: 25%;
    bottom: 0;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1.5px;
    padding-right: 10%;
    padding-left: 10%; }
#row3 #cardC .cardTop {
  background-image: url("../img/day-night-moon.png");
  background-size: cover;
  opacity: .8; }
  #row3 #cardC .cardTop .cardTopText {
    position: relative;
    top: 13%;
    bottom: 0;
    font-weight: normal;
    letter-spacing: 1.5px; }
    #row3 #cardC .cardTop .cardTopText p, #row3 #cardC .cardTop .cardTopText h1 {
      text-shadow: 2px 2px 2px black; }
    #row3 #cardC .cardTop .cardTopText h1 {
      font-size: 3em;
      margin: 0;
      padding-bottom: .3em; }
#row3 #cardC .cardBottom {
  background-image: url("../img/gibbous.png");
  background-size: cover; }
  #row3 #cardC .cardBottom .cardBottomText {
    position: relative;
    top: 13%;
    bottom: 0;
    font-weight: normal;
    letter-spacing: 1.5px; }
    #row3 #cardC .cardBottom .cardBottomText p, #row3 #cardC .cardBottom .cardBottomText h1 {
      text-shadow: 2px 2px 2px black; }
    #row3 #cardC .cardBottom .cardBottomText h1 {
      font-size: 3em;
      margin: 0;
      padding-bottom: .3em; }

#row4 {
  overflow: hidden; }
  #row4 #cardA {
    background-image: url("../img/moonApp.png");
    background-size: contain; }
  #row4 #cardB {
    background-image: url("../img/postCard.png");
    background-size: cover;
    opacity: .9;
    text-align: left;
    color: black; }
    #row4 #cardB .postCardText {
      line-height: 15px;
      padding: 5%;
      margin-top: 45px; }
      #row4 #cardB .postCardText p, #row4 #cardB .postCardText h5, #row4 #cardB .postCardText h3, #row4 #cardB .postCardText hr {
        margin: 10px; }
      #row4 #cardB .postCardText p {
        margin-top: 0px; }
      #row4 #cardB .postCardText hr {
        margin: 0; }
      #row4 #cardB .postCardText h3 {
        font-family: 'Nova Script', cursive;
        font-size: 1.5em;
        color: #c62034; }
      #row4 #cardB .postCardText h5 {
        margin-bottom: 2px; }

/*# sourceMappingURL=main.css.map */
