// Colors

$white: #fff;
$moonGray: #F5F5F5;
$darkGreen: #13391d;
$textGray: #A9A9A9;
$black: #000;
$nightColor: #391339;
$dayColor: complement($nightColor);
$earthBlue: #496b9b;
$spaceOrange: #c56636;
$tourism: complement($spaceOrange);

// Asset Path Variables

$path-img: "../img";

// Size Variables
$max-width: 70%;
