.heroImage {
  @include background-image(linear-gradient(black 0px, transparent 100%),url("#{$path-img}/moonView.jpg"));
  background-size: cover;
  height: 50vh;
}

.heroText {
  border: none;
  @include padding(8% null 50px null);
  h2 {
    @include text(40px, normal, .4em, 2px, $white);
  }
}
