.row {
  color: $white;
  clear: both;
  overflow: auto;
  width: 100%;
  min-height: 350px;
  .card {
    float: left;
    p {
      margin-top: 0;
    }
    @media screen and #{$smallDesktop} {
      width: 33.3% !important;
      overflow: hidden;
    }
    @media screen and #{$oneColumn} {
      float: none;
      width: 100% !important;
      height: 25vh !important;
    }
  }
}

#row2 {
  height: 30vh;
  @media screen and #{$oneColumn} {
    height: 100%;
  }
  #cardA {
    @include size(50% 100%);
    @media screen and #{$oneColumn} {
      height: 25vh;
    }
  }
  #cardB {
    @include size(25% 100%);
  }
  #cardC {
    @include size(25% 100%);
  }
}

#row3 {
  height: 30vh;
  @media screen and #{$oneColumn} {
    height: 100%;
  }
  #cardA {
    @include size(25% 100%);
    .cardTop {
      height: 50%;
    }
    .cardBottom {
      height: 50%;
    }
  }
  #cardB {
    @include size(25% 100%);
  }
  #cardC {
    @include size(50% 100%);
    .cardTop {
      height: 50%;
      // background: $dayColor;
      @include padding(2%);
    }
    .cardBottom {
      height: 50%;
      // background: $nightColor;
      @include padding(2%);
    }
  }
}

#row4 {
  @media screen and #{$oneColumn} {
    height: 100%;
  }
  height: 30vh;
  #cardA {
    @include size(25% 100%);
  }
  #cardB {
    @include size(50% 100%);
  }
  #cardC {
    @include size(25% 100%);
  }
}
